
{% load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% if messages %}
    {% for message in messages %}
        <p style="color: red; text-align: center;">{{ message }}</p>
    {% endfor %}
{% endif %}

<form method="POST">
    {% csrf_token %}  <div class="input-group">
        <label>Username</label>
        <input type="text" name="username" placeholder="Enter your username" required>
    </div>

    <div class="input-group">
        <label>Password</label>
        <input type="password" name="password" placeholder="Enter your password" required>
    </div>

    <button type="submit" class="login-btn">Login</button>

</form>

<p style="text-align:center; margin-top:12px;">New user? <a href="{% url 'register' %}">Register here</a></p>