<!DOCTYPE html>
<html>
<head>
    <title>Wallet | StockRiskTracker</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/wallet.css' %}">
</head>

<body>

<div class="container">

    <div class="sidebar">
        <div class="logo-section">
            <div class="logo">📈</div>
            <h2>StockRiskTracker</h2>
        </div>

        <a href="{% url 'dashboard' %}">Dashboard</a>
        <a href="#" class="active">Wallet</a>
        <a href="{% url 'watchlist' %}">Watchlist</a>
        <a href="{% url 'investment_diary' %}">Investment Diary</a>
        <a href="{% url 'history' %}">History</a>
        <a href="{% url 'dictionary' %}">Dictionary</a>
        <a href="{% url 'logout' %}" class="logout-btn">Logout</a>
    </div>


    <div class="main">

        <div class="header-top">
            <h1>Virtual Trading Wallet</h1>
        </div>

        <div class="wallet-card">
            <h2>Available Balance</h2>
            <div class="balance">₹ {{ profile.wallet_balance }}</div>
        </div>


        <div class="wallet-actions">

            <!-- Deposit Section -->
            <div class="action-section">
                <h3>💰 Deposit Money</h3>

                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="ADD">

                    <input 
                        type="text" 
                        name="amount" 
                        placeholder="Enter amount to deposit"
                        class="wallet-input"
                        required
                    >

                    <button type="submit" class="wallet-btn">
                        Add Money
                    </button>
                </form>
            </div>


            <!-- Withdraw Section -->
            <div class="action-section">
                <h3>🏦 Withdraw Money</h3>

                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="WITHDRAW">

                    <input 
                        type="text" 
                        name="amount" 
                        placeholder="Enter amount to withdraw"
                        class="wallet-input"
                        required
                    >

                    <button type="submit" class="wallet-btn">
                        Withdraw Money
                    </button>
                </form>

            </div>

        </div>

    </div>

</div>

</body>
</html>